<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a1" type="text" class="form-control" placeholder="a1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a2" type="text" class="form-control" placeholder="a2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a3" type="text" class="form-control" placeholder="a3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a4" type="text" class="form-control" placeholder="a4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a5" type="text" class="form-control" placeholder="a5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a6" type="text" class="form-control" placeholder="a6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a7" type="text" class="form-control" placeholder="a7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a8" type="text" class="form-control" placeholder="a8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a9" type="text" class="form-control" placeholder="a9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b1" type="text" class="form-control" placeholder="b1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b2" type="text" class="form-control" placeholder="b2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b3" type="text" class="form-control" placeholder="b3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b4" type="text" class="form-control" placeholder="b4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b5" type="text" class="form-control" placeholder="b5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b6" type="text" class="form-control" placeholder="b6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b7" type="text" class="form-control" placeholder="b7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b8" type="text" class="form-control" placeholder="b8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b9" type="text" class="form-control" placeholder="b9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c1" type="text" class="form-control" placeholder="c1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c2" type="text" class="form-control" placeholder="c2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c3" type="text" class="form-control" placeholder="c3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c4" type="text" class="form-control" placeholder="c4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c5" type="text" class="form-control" placeholder="c5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c6" type="text" class="form-control" placeholder="c6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c7" type="text" class="form-control" placeholder="c7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c8" type="text" class="form-control" placeholder="c8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.c9" type="text" class="form-control" placeholder="c9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d1" type="text" class="form-control" placeholder="d1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d2" type="text" class="form-control" placeholder="d2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d3" type="text" class="form-control" placeholder="d3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d4" type="text" class="form-control" placeholder="d4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d5" type="text" class="form-control" placeholder="d5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d6" type="text" class="form-control" placeholder="d6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d7" type="text" class="form-control" placeholder="d7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d8" type="text" class="form-control" placeholder="d8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d9" type="text" class="form-control" placeholder="d9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e1" type="text" class="form-control" placeholder="e1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e2" type="text" class="form-control" placeholder="e2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e3" type="text" class="form-control" placeholder="e3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e4" type="text" class="form-control" placeholder="e4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e5" type="text" class="form-control" placeholder="e5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e6" type="text" class="form-control" placeholder="e6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e7" type="text" class="form-control" placeholder="e7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e8" type="text" class="form-control" placeholder="e8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e9" type="text" class="form-control" placeholder="e9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f1" type="text" class="form-control" placeholder="f1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f2" type="text" class="form-control" placeholder="f2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f3" type="text" class="form-control" placeholder="f3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f4" type="text" class="form-control" placeholder="f4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f5" type="text" class="form-control" placeholder="f5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f6" type="text" class="form-control" placeholder="f6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f7" type="text" class="form-control" placeholder="f7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f8" type="text" class="form-control" placeholder="f8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.f9" type="text" class="form-control" placeholder="f9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g1" type="text" class="form-control" placeholder="g1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g2" type="text" class="form-control" placeholder="g2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g3" type="text" class="form-control" placeholder="g3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g4" type="text" class="form-control" placeholder="g4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g5" type="text" class="form-control" placeholder="g5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g6" type="text" class="form-control" placeholder="g6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g7" type="text" class="form-control" placeholder="g7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g8" type="text" class="form-control" placeholder="g8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g9" type="text" class="form-control" placeholder="g9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h1" type="text" class="form-control" placeholder="h1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h2" type="text" class="form-control" placeholder="h2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h3" type="text" class="form-control" placeholder="h3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h4" type="text" class="form-control" placeholder="h4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h5" type="text" class="form-control" placeholder="h5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h6" type="text" class="form-control" placeholder="h6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a7" type="text" class="form-control" placeholder="a7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h8" type="text" class="form-control" placeholder="h8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h9" type="text" class="form-control" placeholder="h9">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i1" type="text" class="form-control" placeholder="i1">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i2" type="text" class="form-control" placeholder="i2">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i3" type="text" class="form-control" placeholder="i3">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i4" type="text" class="form-control" placeholder="i4">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i5" type="text" class="form-control" placeholder="i5">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i6" type="text" class="form-control" placeholder="i6">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i7" type="text" class="form-control" placeholder="i7">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i8" type="text" class="form-control" placeholder="i8">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i9" type="text" class="form-control" placeholder="i9">
            </div>
        </div>
    </div>
</div>